# Virtual Environment
venv/
.venv/
env/

# PyInstaller
build/
dist/
*.spec.bak

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg
*.egg-info/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
desktop.ini

# Project specific
images/
*.md
!README.md
